{% extends "base.html" %}

{% block title %} <title> display boggle board  </title>{% endblock %}

{% block content %}  

<h1>Your Score: {{score}}</h1>


<table class="board">
  <tbody>
    {% for row in board %}
    <tr>
        {% for cell in row %}
        <td>{{cell}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>    
</table>

<br>

<form method="GET" action="/check-guess" id="submit_guess">
    <label for="guess">Submit your guess</label>
    <input type="text" id="guess" name="guess">
    <input type="submit" id="">
</form>

{% endblock %}